.dark [data-app-sidebar-header] {
  position: relative;
  isolation: isolate;
  background-image: url("../assets/sidebar-header.webp");
  background-position: center;
  background-size: cover;
}

.dark [data-app-sidebar-header]::before {
  position: absolute;
  z-index: -1;
  inset: 35% 0 0;
  content: "";
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--sidebar) 90%);
  backdrop-filter: blur(6px);
  mask-image: linear-gradient(to bottom, transparent, black 50%);
}
